#signup {
  padding: 50px 0;
}

#form-stage {
  color: var(--primary-color);
  font-size: 18px;
}

.stage.contact::after,
.stage.address::after,
.stage.credencials::after {
  content: '';
  display: block;
  width: 270px;
  height: 6px;
  background: var(--primary-color);
  position: relative;
  transition: 0.5s;
  border-radius: 5px;
}

.stage.disabled {
  color: rgb(177, 177, 177);
  pointer-events: none;
}

.stage.disabled.contact::after,
.stage.disabled.address::after,
.stage.disabled.credencials::after {
  background: #dedede;
}

#form-container {
  text-align: initial;
  border-radius: 5px;
  padding: 40px;
  width: 833px;
  margin: 0 auto;
  border: 2px solid #f2f2f2;
}

#form-container label {
  color: #48384e;
  font-weight: bold;
}

#form-container input:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 4px rgba(143, 64, 191, 0.5);
}

#form-container input:disabled {
  background: none;
}

#form-container input.invalid,
#form-container input.invalid:focus {
  border: 1px solid red;
  box-shadow: none;
}

@media screen and (max-width: 900px) {
  #form-container {
    width: 95%;
  }

  .stage.contact::after,
  .stage.address::after,
  .stage.credencials::after {
    width: 230px;
  }
}

@media screen and (max-width: 767px) {
  #form-container {
    padding: 20px;
  }

  .stage.contact::after,
  .stage.address::after,
  .stage.credencials::after {
    width: 180px;
  }
}

@media screen and (max-width: 560px) {
  .stage.contact::after,
  .stage.address::after,
  .stage.credencials::after {
    width: 100%;
  }
}
